html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.row {
  background: yellow;
  display: flex;
  justify-content: center;
}

.box {
  background: gray;
  height: 40px;
  width: 40px;
}