html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  color: black;
  font-size: 40px;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

.control {
  background: #DC302B;
  display: flex;
  padding: 10px;
  width: 800px;
  flex-shrink: 0;
  justify-content: space-between;
}

button {
  padding: 8px 8px;
  width: 72px;
  height: 72px;
  border-radius: 50px;
  background: white;
  border: 1px solid black;
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
}

.box {
  background: gray;
  flex-shrink: 0;
}